@import 'src/asset/style/variable.scss';
@import 'src/asset/style/extendsFlex.scss';

.view-full-screen {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh !important;
}

.markdown-editor {
  width: 100%;
  height: calc(100vh - 390px);
  @extend %flex-center;
  flex-direction: column;

  .markdown-menu {
    width: 100%;
    ul{
      @extend %flex-start-center;
      background-color: $bgcolor2;
    }
  }
  .markdown-container {
    width: 100%;
    height: 100%;
    @extend %flex-center;
    & > div {
      height: 100%;
      overflow: auto;
      flex: 1;
    }
  }

 
  :global {

    .CodeMirror {
      background-color: $textColor;
      height: 100%;
    }
    .CodeMirror-linenumbers {
      color:#fff;
      background-color: $sidebar;
    }
  }
 

    .marked {
      display: none;
      height: 100%;
      border-left: 1px solid $defaultLineColor;
      background-color: $textColor;
      &.show {
        display: block;
      }
      a {
        color: $bgcolor5;
        font-weight: bold;
        margin: 0 .1em;

        &:hover {
          text-decoration: underline!important;
        }
      }

      img {
        max-width: 80%;
        margin: 0 auto;
        display: block;
        text-align: center;
        border-radius: 2px;
        border: .7rem solid rgba(197, 197, 197, 0.4);
      }

      code {
        padding: .3em .5em;
        margin: 0 .5em;
        border-radius: 2px;
        background-color: rgba(197, 197, 197, 0.4);
      }

      p {
        line-height: 2.2em;
        text-indent: 2em;
        margin-bottom: 1em;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 1.5rem 0;
        padding-left: 0;
        line-height: 1.8em;
        font-weight: 700;
        text-indent: 0;
      }

      blockquote {
        margin: 1.2em 0;
        text-indent: 0em;
        background-color: rgba(197, 197, 197, 0.4);
        border-left: .5em solid #aaa;
        padding: .5em 1em;
        padding-left: 1.5em;

        p {
          text-indent: 0em;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      ul {
        list-style-type: square;
      }

      ul, ol {

        > li {
          line-height: 1.8em;
          padding: .5em 1em;

          &:hover {
            background-color: rgba(230, 230, 230, 0.7);
          }

          > ul {

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      pre {
        margin-bottom: 1em;

        > code {
          margin: 0;
          padding: 1em;
          line-height: 1.6em;
          background-color: rgba(0, 0, 0, 0.8);
          position: relative;
          display: block;
          color: rgba(255, 255, 255, 0.87);
        }
      }
    }
  }

 